#game {
  border: 1px solid; 
  margin-left: 50px;
  margin-top: 10px;
  background-color: #000;
  display: inline-block;
}

body {
  background-image: url('../assets/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  color: orange;
  font-size: 50px;
  font-family: 'Rammetto One', cursive;
  text-align: center;
  margin-left: 88px;
}

h3 {
  font-size: 30px;
}

.directions {
  position: relative;
  bottom: 340px;
  display: inline-block;
  color: orange;
  font-family: 'Rammetto One', cursive;
  text-align: center;
  margin-left: 10px;
}

.dashboard {
  float: right;
  position: relative;
}

.level-display,
.balls-remaining,
.reset-button,
.score-number, 
.score-text {
  color: orange;
  display: inline-block;
  font-family: 'Rammetto One', cursive;  font-size: 22px;
  margin: 0px 10px;
}

#reset-button {
  border: 3px solid orange;
  border-radius: 10px;
  background-color: white;
  color: orange;
  font-size: 20px;
  font-family: 'Rammetto One', cursive;
  opacity: .7;
  width: 200px;
  height: 40px;
  margin-top: 20px;
}

.dashboard {
  float: right;
  align-items: left;
  margin-right: 150px;
  font-size: 48px;
  position: relative;
  top: 10px;
}

.start-picture {
  background-image: url('../assets/background.jpg');
  width: 500px;
  height: 600px;
  z-index: 0;
}