#game {
  border: 1px solid; 
  margin-left: 20px;
  margin-top: 10px;
  background-color: #000;
  display: inline-block;
}

body {
  background-image: url('../assets/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  color: orange;
  font-size: 50px;
  font-family: 'Rammetto One', cursive;
  text-align: center;
  margin: none;
}

h3 {
  font-size: 30px;
}

.directions {
  position: relative;
  bottom: 340px;
  display: inline-block;
  color: orange;
  font-family: 'Rammetto One', cursive;
  text-align: center;
  margin-left: 10px;
}

.dashboard,
.dashboard-two,
.dashboard-three {
  float: right;
}

.level-display,
.balls-remaining,
.reset-button,
.score-number,
 .score-text {
  color: orange;
  display: inline-block;
  font-family: 'Rammetto One', cursive;  font-size: 22px;
  margin: 0px 10px;
}

.score {
  color: orange;
  font-family: 'Rammetto One', cursive;
  font-size: 22px;
  margin: 0px 10px;
}

.reset-button {
  background-color: white;
  opacity: .7;

  margin-top: 20px;
}

.dashboard {
  margin-right: 150px;
  position: relative;
  top: 10px;
}

.dashboard-two {
  margin-right: 50px;
}

.level-display {
  margin-left: 23px;
}